@model CheckoutBillingAddressModel
@using Nop.Web.Models.Checkout;

<input name="billing_address_id" id="billing-address-select" value="@Model.NewAddressPreselected" type="hidden" />

<div id="billing-new-address-form">
    @{
        var validationSummary = Html.ValidationSummary(true);
    }
    @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }
    @{
        var dataDictAddress = new ViewDataDictionary();
        //Merge ModelState (required for validation)
        dataDictAddress.ModelState.Merge(ViewData.ModelState);
        dataDictAddress.TemplateInfo.HtmlFieldPrefix = "BillingAddress.NewAddress";
        @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)
    }
</div>