################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SourcCode/Presentation/Nop.Web/Content/Images/Thumbs
/SourcCode/Presentation/Nop.Web.Framework/bin/Debug
