/**************** IMPORT ****************
*****************************************/
@import "../../less/variables.less";

.agent-logo {
	display: block;
	float: left;
	margin: 10px 0;
	padding: 7px 0 0 10px;
	border-left: @gray-lighter solid 1px;
	font-size: @font-size-h5;
	font-weight: 700;
	color: @gray-light;
}

.ag-login-wrp {
	background: white;
	padding: 24px 30px;
	border-radius: 6px;
	border: @gray-lighter solid 1px;
	border-top: @brand-primary solid 5px;
	h2 {margin-top: 0}
}

.ag-promote-content {
	margin-top: 40px;
	margin-bottom: 20px

}
.ag-hero-img {
		background: url(https://cuadong2010.files.wordpress.com/2013/05/dsc07333.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		color: white;
	}
.product-title {
	font-weight: 500;
	letter-spacing: -1px;
	margin-bottom: 40px
}

.ag-booking-history {
	table {
		background: white;
		border-bottom: @gray-light solid 1px;
	}
	thead {
		background: @gray-dark;
		font-weight: bold;
		color: white;
		text-transform: uppercase;
	}
}

.ag-booking-history-search-form {
	margin-top:20px
}

.ag-pagination {
	text-align: center;
}

.ag-form-title {
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: @gray-lighter solid 1px;
}

.ag-payment-container {
	margin-top: 40px;
}

.ag-foc-info {
	float: left;
	width: 100%;
	label {display: block;}
	input { width: 100%; margin-bottom: 20px;}
}

.ag-customer-info-wrp-first-child {
	h2.title {
		border-top: none
	}
}
.offset-40 {
	margin-left: 40px
}