@model CategoryModel

@using Nop.Web.Models.Catalog;
@if (Model.SubCategories.Count > 0)
{
    <h2>@string.Format(T("Category.SecondaryDestinations.Title").Text, Model.ParentName)</h2>
    <div class="row">
        <div class="col-sm-12">
            <ul class="secondary-links-list">
                @foreach (var item in Model.SubCategories)
                {

                    <li class="secondary-links-list-item">
                        <a class="secondary-links-list-item-pills" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
