@model WishlistModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart
@using Nop.Web.Models.Customer;
@{
   Layout = "~/Views/Shared/_ColumnsTwoAcc.cshtml";

   //title
   Html.AddTitleParts(T("PageTitle.Wishlist").Text);
}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Wishlist })
}

<div class="static-page-cont-wrp">
    <h2 class="page-title">@T("Wishlist")</h2>
   <div class="page-body"> 
       @if (Model.Products.Count > 0)
       {
        <div class="product-cards-container">
            <div class="row">
                @using (Html.BeginRouteForm("Wishlist", FormMethod.Post))
                {
                    foreach (var product in Model.Products)
                    {
                        var dataDict = new ViewDataDictionary();
                        dataDict.Add("IsWishlist", true);

                        @Html.Partial("_ProductBox", product, dataDict)
                    }
                }
            </div>
        </div>
       }
       else
       {
            <div class="alert alert-info" role="alert">
                @T("Wishlist.CartIsEmpty")
            </div>
       }
   </div>
</div>