@model ContactUsModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOneStaticPage.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
}
<h1>@T("PageTitle.ContactUs")</h1>
@Html.Action("TopicBlock", "Topic", new { systemName = "ContactUs" })