@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;
<footer class="page-footer">
    <div class="container">
        <div class="row footer-content-pri">
            <div class="col-md-4">
                <h2>DI VUI </h2>
                <p>
                    Viator is the world's leading resource for researching, finding and booking the best travel experiences worldwide.
                    Viator joined the TripAdvisor family in 2014
                </p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="box-link-title">
                            VỀ ĐI VUI
                        </h4>
                        <ul class="box-link-list">
                            <li><a href="/about-us">Về ĐI VUI</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="/privacy-notice">Chính sách bảo mật</a></li>
                            <li><a href="/conditions-of-use">Điều khoản sử dụng</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="box-link-title">
                            HỢP TÁC VỚI ĐI VUI
                        </h4>
                        <ul class="box-link-list">
                            <li><a href="#">Trở thành đối tác của ĐI VUI</a></li>
                            <li><a href="#">Chương trình đối tác phân phối (Affiliate)</a></li>
                            <li><a href="#">Đối tác đăng nhập</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="box-link-title">
                    LIÊN HỆ
                </h4>
                <ul class="box-link-list">
                    <li>HOTLINE: 0908 1080 98 (Viber/Zalo)</li>
                    <li>hotro@divui.com</li>
                    <li>Văn phòng đại diện: 132/97 Nguyễn Hữu Cảnh, P.22, Q. Bình Thạnh, Tp.HCM</li>
                    <li>Thứ 2 - 6: 9:00 - 18:00</li>
                </ul>
            </div>
        </div>
        <div class="row footer-content-sec"></div>
    </div>
</footer>